# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/clinet/.pnp
/clinet/.pnp.js

# testing
/clinet/coverage

# production
/clinet/build

# misc
.env
/clinet/.DS_Store
/clinet/.env.local
/clinet/.env.development.local
/clinet/.env.test.local
/clinet/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
